<form  [formGroup]="addFlights" (ngSubmit)="nextPage()" method="GET">
    <h1 style="color:indigo; margin-left: 40%;">Administrator Page</h1>
     <div class="leftDiv">
         <h1 style="color:indigo; margin-left: 10%;">Add Flight</h1>
      <table>
            <tr>
                    <td><label for="Airport Name" ><b>Airport Name:</b></label></td>
                    <td><input  type="text" formControlName="airportName" placeholder=" Enter Airport Name" name="airportName" required style="border: 1px solid black;"></td>
            </tr>
            <tr>
                <td>  <label for="Airline Name" ><b>Airline Name:</b></label></td>
                <td><input type="text" formControlName="airlineName" placeholder=" Enter Airline Name" name="airlineName" required style="border: 1px solid black;"></td>
            </tr>
            
            
            <tr>
                    <td><label for="Source"><b>Source:</b></label></td>
                    <td><input type="text" formControlName="source" placeholder=" Enter Source" name="source" required style="border: 1px solid black;"></td>
            </tr>
            <tr>
                    <td>  <label for="Destination"><b>Destination:</b></label></td>
                    <td><input type="text" formControlName="destination" placeholder=" Enter Destination" name="destination" required style="border: 1px solid black;"></td>
            </tr>
             
                <tr>
                    <td><label for="Departure Date"><b>Departure Date:</b></label></td>
                     <td><input type="date" formControlName="departureDate" placeholder=" Enter Departure Date" name="departureDate" required style="border: 1px solid black; width: 98%;"></td>
                </tr>
                <tr>
                    <td>  <label for="Departure Time"><b>Departure Time:</b></label></td>
                    <td><input type="text" formControlName="departureTime" placeholder=" 13:00" name="departureTime" required style="border: 1px solid black;"></td>
                </tr>
                <tr>
                        <td>  <label for="Arrival Time"><b>Arrival Time:</b></label></td>
                        <td><input type="text" formControlName="arrivalTime" placeholder=" 12:00" name="arrivalTime" required style="border: 1px solid black;"></td>
                </tr>
                <tr>
                        <td>  <label for="Duration"><b>Duration:</b></label></td>
                        <td><input type="text" formControlName="duration" placeholder="1hr 30min" name="duration" required style="border: 1px solid black;"></td>
                </tr>
                <tr>
                    <td>  <label for="Base Price"><b>Base Price:</b></label></td>
                    <td><input type="text" formControlName="basePrice" placeholder=" Enter Base Price" name="basePrice" required style="border: 1px solid black;"></td>
                </tr>
                
                <tr>
                    <td>
                        <div>
                            <input type="submit" value="Add Flight" (click)="addFlight()" class="button"></div></td>
                </tr>
            
            </table>
        </div>
    </form>
    <form [formGroup]="deleteFlight" (ngSubmit)="deleteFlightById()">
        <div class="rightDiv"> 
            <h1 style="color: indigo; margin-left: 17%;">Delete Flight</h1> 
          <table>
            <tr>
                <td><label for="Flight Id" style="margin-left: 17%;"><b>Flight Id:</b></label></td>
                <td><input  type="text" formControlName="flightId" placeholder=" Enter Flight Id" name="flightId" required style="border: 1px solid black;"></td>
            </tr> 
            <br> 
            
            <tr>
                <td>
                    <div>
                        <input type="submit" value="Delete Flight" class="button"></div></td>
            </tr>

          </table>
           
        </div>
    </form>
    