<form>
    <div class="container">
        <table>
        <tr>
            <td>
                <h1 class="h1">Ticket Information</h1>
                <label name="ticketNumber">Ticket Number:</label>
            </td>
        </tr> 
        <tr>
            <td>
                <label name="from">From:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label name="to">To:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label name="passangerName">Passanger Name:</label>
            </td>
        </tr>
        
        <tr>
            <td>
                <label name="departureDate">Departure Date:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label name="departureTime">Departure Time:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label name="airportName">Airport Name: </label>
            </td>
        </tr>
        <tr>
            <td>
                <label name="class">Class:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label name="numberOfTickets">Number of Tickets:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label name="seats">Seats:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label name="totalCost">Total Cost:</label>
            </td>
        </tr>

      </table>
    </div>
</form>