<header>
    <img src="assets/img/airline-logo.jpg">
    <b>Airline Reservation</b>    

     <!-- <div *ngIf="userLoggedIn" class="headerNavigate">
        <button (click)="loadMyProfile()">My Profile</button>
    </div>

    <div *ngIf="!userLoggedIn" class="headerNavigate">
        
        <button (click)="loadRegister()" style="width: 40%;" >Register</button>
        <button (click)="loadLogin()" style="width: 40%;">Login</button>
    </div>  -->
</header>
<router-outlet></router-outlet>
<footer></footer>