
<form (ngSubmit)="loadBookingPage()" method="GET" class="h1">
<div class="header" style="border: 2px solid;">
  
  <input type="radio" name="TravelType" value="ONEWAY" >ONEWAY
  <input type="radio" name="TravelType" value="ROUND-TRIP">ROUND TRIP<br><br>

  
    Source:
  <select required style=" height: 30px; ">
    <option *ngFor="let loc of Location">{{loc}}</option>
  </select>
  

  Destination:
  <select required style=" height: 30px; margin-left: 10px;">
    <option *ngFor="let loc of Location">{{loc}}</option>
  </select> 
  &nbsp;&nbsp;

  
    Departure date:
  <input type="date" value="Departure Date" style=" height: 30px; border:1px solid black; border-radius: 10px;" required/>
  
  &nbsp;&nbsp;
    Return date:
  <input type="date" value="Return Date" style=" height: 30px; border:1px solid black; border-radius: 10px;">

  &nbsp;&nbsp;
  <br>
  
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  Travellers:
  <select  style="margin-right: 500px; height: 30px;"> 
    <option *ngFor="let num of Travellers">{{num}}</option>
  </select>

  Class:
  <select style="margin-left: 10px; height: 30px;"  required>
  <option *ngFor="let trav of Class">{{trav}}</option>   
  </select>
  <br>
<br>
<br>


<div style="text-align: center;" class="search"> 
  <input type="submit" value="Search" class="button">
</div>

</div>

</form>
