<h1 align = "center">Cockpit Here</h1>
<form [formGroup] ="seatForm">
<div class="plane">

    <div class="exit"></div>
    <ol>
      <li >

        <ol class="seats">
          <li class="seat">
            <input type="checkbox" formControlName="A1" name="A1" id="1A" (change)="checkedState($event, checkBox)" />
            <label for="1A">1A</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="B1" name="B1" id="1B" (change)="checkedState($event, checkBox)"/>
            <label for="1B">1B</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="C1" name="C1" id="1C" (change)="checkedState($event, checkBox)" />
            <label for="1C">1C</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="D1" name="D1" id="1D" (change)="checkedState($event, checkBox)"/>
            <label for="1D">1D</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="E1" name="E1" id="1E" (change)="checkedState($event, checkBox)"/>
            <label for="1E">1E</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="F1" name="F1" id="1F"  (change)="checkedState($event, checkBox)"/>
            <label for="1F">1F</label>
          </li>
        </ol>
      </li>
      <li class="row row--2">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" formControlName="A2" name="A2" id="2A" (change)="checkedState($event, checkBox)"/>
            <label for="2A">2A</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="B2" id="2B" name="B2" (change)="checkedState($event, checkBox)"/>
            <label for="2B">2B</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="C2" id="2C" name="C2" (change)="checkedState($event, checkBox)"/>
            <label for="2C">2C</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="D2" id="2D" name="D2" (change)="checkedState($event, checkBox)"/>
            <label for="2D">2D</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="E2" id="2E" name="E2" (change)="checkedState($event, checkBox)"/>
            <label for="2E">2E</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="F2" id="2F" name="F2" (change)="checkedState($event, checkBox)"/>
            <label for="2F">2F</label>
          </li>
        </ol>
      </li>
      <li class="row row--3">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" formControlName="A3" id="3A" name="A3" (change)="checkedState($event, checkBox)"/>
            <label for="3A">3A</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="B3" id="3B" name="B3" (change)="checkedState($event, checkBox)"/>
            <label for="3B">3B</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="C3"  id="3C" name="C3" (change)="checkedState($event, checkBox)"/>
            <label for="3C">3C</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="D3" id="3D" name="D3" (change)="checkedState($event, checkBox)"/>
            <label for="3D">3D</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="E3" id="3E" name="E3" (change)="checkedState($event, checkBox)"/>
            <label for="3E">3E</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="F3" id="3F" name="F3" (change)="checkedState($event, checkBox)"/>
            <label for="3F">3F</label>
          </li>
        </ol>
      </li>

      <li class="row row--4">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" formControlName="A4" name="A4" id="4A" (change)="checkedState($event, checkBox)"/>
            <label for="4A">4A</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="B4" name="B4" id="4B" (change)="checkedState($event, checkBox)"/>
            <label for="4B">4B</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="C4" name="C4" id="4C" (change)="checkedState($event, checkBox)"/>
            <label for="4C">4C</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="D4" name="D4" id="4D" (change)="checkedState($event, checkBox)"/>
            <label for="4D">4D</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="E4" name="E4" id="4E" (change)="checkedState($event, checkBox)"/>
            <label for="4E">4E</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="F4" name="F4" id="4F" (change)="checkedState($event, checkBox)"/>
            <label for="4F">4F</label>
          </li>
        </ol>
      </li>

      <li class="row row--5">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" formControlName="A5" name="A5" id="5A" (change)="checkedState($event, checkBox)"/>
            <label for="5A">5A</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="B5" name="B5" id="5B" (change)="checkedState($event, checkBox)"/>
            <label for="5B">5B</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="C5" name="C5" id="5C" (change)="checkedState($event, checkBox)"/>
            <label for="5C">5C</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="D5" name="D5" id="5D" (change)="checkedState($event, checkBox)"/>
            <label for="5D">5D</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="E5" name="E5" id="5E" (change)="checkedState($event, checkBox)"/>
            <label for="5E">5E</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="F5" name="F5" id="5F" (change)="checkedState($event, checkBox)"/>
            <label for="5F">5F</label>
          </li>
        </ol>
      </li>

      <li class="row row--6">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" formControlName="A6" name="A6" id="6A" (change)="checkedState($event, checkBox)"/>
            <label for="6A">6A</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="B6" name="B6" id="6B" (change)="checkedState($event, checkBox)"/>
            <label for="6B">6B</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="C6" name="C6" id="6C" (change)="checkedState($event, checkBox)"/>
            <label for="6C">6C</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="D6" name="D6" id="6D" (change)="checkedState($event, checkBox)"/>
            <label for="6D">6D</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="E6" name="E6" id="6E" (change)="checkedState($event, checkBox)"/>
            <label for="6E">6E</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="F6" name="F6" id="6F" (change)="checkedState($event, checkBox)"/>
            <label for="6F">6F</label>
          </li>
        </ol>
      </li>

      <li class="row row--7">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" formControlName="A7" name="A7" id="7A" (change)="checkedState($event, checkBox)"/>
            <label for="7A">7A</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="B7" name="B7" id="7B" (change)="checkedState($event, checkBox)"/>
            <label for="7B">7B</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="C7" name="C7" id="7C" (change)="checkedState($event, checkBox)"/>
            <label for="7C">7C</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="D7" name="D7" id="7D" (change)="checkedState($event, checkBox)"/>
            <label for="7D">7D</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="E7" name="E7" id="7E" (change)="checkedState($event, checkBox)"/>
            <label for="7E">7E</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="F7" name="F7" id="7F" (change)="checkedState($event, checkBox)"/>
            <label for="7F">7F</label>
          </li>
        </ol>
      </li>
      <li class="row row--8">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" formControlName="A8" name="A8" id="8A" (change)="checkedState($event, checkBox)"/>
            <label for="8A">8A</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="B8" name="B8" id="8B" (change)="checkedState($event, checkBox)"/>
            <label for="8B">8B</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="C8" name="C8" id="8C" (change)="checkedState($event, checkBox)"/>
            <label for="8C">8C</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="D8" name="D8" id="8D" (change)="checkedState($event, checkBox)"/>
            <label for="8D">8D</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="E8" name="E8" id="8E" (change)="checkedState($event, checkBox)"/>
            <label for="8E">8E</label>
          </li>
          <li class="seat">
            <input type="checkbox" formControlName="F8" name="F8" id="8F" (change)="checkedState($event, checkBox)"/>
            <label for="8F">8F</label>
          </li>
        </ol>
      </li>

    </ol>
    <div class="exit"></div>
  </div>
</form>
  <div class ="confirm">
    <div class = "details">
      <table>
      <tr><td><b>Tickets Selected:</b></td> <td>{{counter}} </td></tr>
      <tr><td><b>Base Price:</b> </td><td>{{basePrice}}</td></tr>
      <tr><td><b>Total Tax ({{tax}}% GST):</b> </td><td>{{basePrice*(tax/100)}}</td></tr>
      <tr><td><b>Total Price:</b> </td><td>{{counter*basePrice+basePrice*(tax/100)}} </td></tr>
    </table>
    </div> <br>
    <input type="button" value="Book Now" (click)="loadPayment()"/>
  </div>