.header
{
   margin-left: 35%;
   border: 2px solid black;
   width: 27%;
   padding-left: 3%;
   padding-bottom: 3%;
   border-radius: 10%;
   padding-top: 1%;
   margin-top: 7%;
   box-shadow: 10px 10px 5px #aaaaaa;
   text-decoration: none;
   
}